.calculator {
    margin: auto;
    width: 300px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbb;
    padding: 10px;
    font-size: 20px;
}

.display {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
}

.buttons button {
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #aaa;
}